/**:
  ros__parameters:
    planning_plugin: ompl_interface/OMPLPlanner
    request_adapters: >-
      default_planning_request_adapters/ResolveConstraintFrames
      default_planning_request_adapters/ValidateWorkspaceBounds
      default_planning_request_adapters/CheckStartStateBounds
      default_planning_request_adapters/CheckStartStateCollision
    response_adapters: >-
      default_planning_response_adapters/AddTimeOptimalParameterization
      default_planning_response_adapters/ValidateSolution
    ompl:
      arm:
        planner_configs:
          - RRTConnect
          - RRT
          - PRM
        default_planner_config: RRTConnect
        projection_evaluator: joints(joint_a1,joint_a2)
        longest_valid_segment_fraction: 0.005
      planner_configs:
        RRTConnect:
          type: geometric::RRTConnect
          range: 0.0
        RRT:
          type: geometric::RRT
          range: 0.0
          goal_bias: 0.05
        PRM:
          type: geometric::PRM
          max_nearest_neighbors: 10
